.pointer:hover {
    cursor: pointer;
}

.dashboard-widget-blue {
    background: linear-gradient(white, white 50%, #0DCAF0FF 50%, #0DCAF0FF);
    background-size: 100% 200%;
    transition: background 1s;
    outline: 1px solid rgba(0, 0, 0, 0.175);
    border: none;
}

.dashboard-widget-blue:hover {
    color: white !important;
    outline-color: rgb(13, 202, 240) !important;
    transition: all ease-in-out .5s;
    background-position: 100% 100%;
}

.dashboard-widget-green {
    background: linear-gradient(white, white 50%, #198754FF 50%, #198754FF);
    background-size: 100% 200%;
    transition: background 1s;
    outline: 1px solid rgba(0, 0, 0, 0.175);
    border: none;
}

.dashboard-widget-green:hover {
    color: white !important;
    outline-color: rgb(25, 135, 84) !important;
    background-position: 100% 100%;
    transition: all ease-in-out 0.5s;
}

.dashboard-widget-red {
    background: linear-gradient(white, white 50%, #DC3545FF 50%, #DC3545FF);
    background-size: 100% 200%;
    transition: background 1s;
    outline: 1px solid rgba(0, 0, 0, 0.175);
    border: none;
}

.dashboard-widget-red:hover {
    color: white !important;
    outline-color: rgb(220, 53, 69) !important;
    transition: all ease-in-out .5s;
    background-position: 100% 100%;
}

.dashboard-widget-yellow {
    background: linear-gradient(white, white 50%, #FFC107FF 50%, #FFC107FF);
    background-size: 100% 200%;
    transition: background 1s;
    outline: 1px solid rgba(0, 0, 0, 0.175);
    border: none;
}

.dashboard-widget-yellow:hover {
    background-position: 100% 100%;
    color: white !important;
    border-color: rgb(255, 193, 7) !important;
    transition: all ease-in-out .5s;
}

.dashboard-widget-purple {
    background: linear-gradient(white, white 50%, rebeccapurple 50%, rebeccapurple);
    background-size: 100% 200%;
    transition: background 1s;
    outline: 1px solid rgba(0, 0, 0, 0.175);
    border: none;
}

.dashboard-widget-purple:hover {
    color: white !important;
    outline-color: rebeccapurple !important;
    transition: all ease-in-out .5s;
    background-position: 100% 100%;
}

.dashboard-widget-orange {
    background: linear-gradient(white, white 50%, orange 50%, orange);
    background-size: 100% 200%;
    transition: background 1s;
    outline: 1px solid rgba(0, 0, 0, 0.175);
    border: none;
}

.dashboard-widget-orange:hover {
    color: white !important;
    outline-color: orange !important;
    transition: all ease-in-out .5s;
    background-position: 100% 100%;
}


.card-green {
    background-image: linear-gradient(90deg, rgba(96, 225, 100, 0.9), rgba(46, 120, 61, 0.7));
}

.card-green:hover {
    cursor: pointer;
    transition: all ease-in-out 100ms;
    background-image: linear-gradient(90deg, rgba(96, 225, 100, 1), rgba(46, 120, 61, 1));
}

.card-yellow {
    background-image: linear-gradient(90deg, rgba(255, 235, 59, 0.9), rgba(251, 226, 0, 0.7));
}

.card-yellow:hover {
    cursor: pointer;
    transition: all ease-in-out 100ms;
    background-image: linear-gradient(90deg, rgba(255, 235, 59, 1), rgba(251, 226, 0, 1));
}

.card-orange {
    background-image: linear-gradient(90deg, rgba(255, 152, 0, 0.9), rgba(255, 183, 77, 0.7));
}

.card-orange:hover {
    cursor: pointer;
    transition: all ease-in-out 100ms;
    background-image: linear-gradient(90deg, rgba(255, 152, 0, 1), rgba(255, 183, 77, 1));
}

.card-red {
    background-image: linear-gradient(90deg, rgba(244, 67, 54, 0.9), rgba(255, 102, 89, 0.7));
}

.card-red:hover {
    cursor: pointer;
    transition: all ease-in-out 100ms;
    background-image: linear-gradient(90deg, rgba(244, 67, 54, 1), rgba(255, 102, 89, 1));
}